<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>_title_</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->

</head>

<body>
  <header>
    <a href="/user/register">Sign up</a>
    <a href="/user/login">Sign in</a>
  </header>

  <main>
  

    <!-- THIS PAGE WILL SHOW ALL THE BOOKSHELVES ON THE APP, NOT THE BOOKS -->
    Bookshelves go here.



  </main>

  <footer>
    _footerContent_
  </footer>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
