<!DOCTYPE html>
<html id="cus-shelf">

<head>
    <meta charset="utf-8">
    <title>Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>


<body>
    <header>
    <!-- SPACES THE TOP EDGE FROM CONTENT  -->
        <div class="spacer-register"></div>
<!--       <table style="height: 50px"></table>-->
        <div class="container-fluid col text-center">
            <h2>Here's what we found for *search*</h2>
        </div>
    </header>

    <main>

<div class="input-group mb-3 col-md-6 mx-auto mt-md-5 ">
            <div class="input-group-prepend">
                <button class="btn btn-success " type="button">Button</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
<!--HERE LIES THE CONTENT OF THE SEARCH RESULTS-->
        <div class="container-fluid col text-center mt-4">
            <img src="/img/generic-image-placeholder.png" class=" img-thumbnail " alt="...">
            <img src="/img/generic-image-placeholder.png" class=" img-thumbnail " alt="...">
            <img src="/img/generic-image-placeholder.png" class=" img-thumbnail " alt="...">
            <img src="/img/generic-image-placeholder.png" class=" img-thumbnail " alt="...">
        </div>

    </main>

    <footer>
        <div class="bottom mb-md-5 text-center">Footer</div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
   
</html>
