<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <header>
<!--       <table style="height: 50px"></table>-->
        <div class="container-fluid col text-center mt-4">
            <h2>Here's what we found for *search*</h2>
        </div>
    </header>

    <main>
<div class="input-group mb-3 col-md-6 mx-auto mt-md-5 ">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary " type="button">Button</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>

        <div class="container-fluid col text-center mt-4">
            <p>Tip pig round beef pork, ham belly prosciutto biltong ham sirloin round tip
                kielbasa sopressata ham loin bresaola ham sopressata pig tri-tip shank beef cow
                tongue tip pig venison tip brisket, cow jowl brisket tip hamburger andouillette
                tip brisket. Leberkas pork prosciutto kielbasa, cow ribs ham ribs, boudin tip
                brisket ham ribeye ham sirloin pig jowl. Ham short doner ribs drumstick ham rump
                tip sirloin. Turducken pig beef venison ham cow steak cow ribs pig ham jowl
                bacon tip bresaola, ham cow pork chicken, sirloin bierschinken cow drumstick pig
                chuck tip pancetta ham round, cow shank chicken cow tip pork ribs pig shankle.
                Shankle chuck ribs ham short ham ham pig doner jerky turkey, shankle rump
                prosciutto hamburger cow tip tail porchetta. Jowl shankle andouillette, loin
                porchetta meatball. Ham loin swine salami leberkas, cow shank drumstick
                frankfurter.</p><br><p>Tip pig round beef pork, ham belly prosciutto biltong ham sirloin round tip
                kielbasa sopressata ham loin bresaola ham sopressata pig tri-tip shank beef cow
                tongue tip pig venison tip brisket, cow jowl brisket tip hamburger andouillette
                tip brisket. Leberkas pork prosciutto kielbasa, cow ribs ham ribs, boudin tip
                brisket ham ribeye ham sirloin pig jowl. Ham short doner ribs drumstick ham rump
                tip sirloin. Turducken pig beef venison ham cow steak cow ribs pig ham jowl
                bacon tip bresaola, ham cow pork chicken, sirloin bierschinken cow drumstick pig
                chuck tip pancetta ham round, cow shank chicken cow tip pork ribs pig shankle.
                Shankle chuck ribs ham short ham ham pig doner jerky turkey, shankle rump
                prosciutto hamburger cow tip tail porchetta. Jowl shankle andouillette, loin
                porchetta meatball. Ham loin swine salami leberkas, cow shank drumstick
                frankfurter.</p>
        </div>

    </main>

    <footer>
        <div class="fixed-bottom mb-md-5 text-center">Footer</div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>