<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>_title_</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="/">BookShelves</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto">
                    <a class="nav-item nav-link active" href="#">Link 1 <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Link 2</a>
                    <a class="nav-item nav-link" href="#">Link 3</a>

                </div>
            </div>
        </nav>

    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col mt-3" id="main">
                    <div class="mb-lg-5">
                        <img src="/img/generic-image-placeholder.png" class=" img-thumbnail float-left mr-2" alt="..."></div>
                    <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis incidunt, voluptatem consectetur, quae natus sit sapiente quibusdam neque assumenda at cum adipisci distinctio optio voluptatibus ipsam rerum officiis, vitae eaque!</div>
                </div>
                <div class="col-2 col-xs-3" id="sidebar">buttonLorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quidem modi, cumque excepturi doloribus, adipisci id eaque eos reiciendis, quibusdam omnis, aperiam alias dolore nostrum iusto totam corporis architecto nam?<br> Ribs pig brisket. Ground kielbasa andouille. Ham pork andouillette ham mignon brisket tip bregenwurst tip ham pork bresaola, sirloin tip ribs shoulder cow cow ball ham pork, prosciutto ham chicken ham loin braunschweiger chicken beef pancetta, boudin brisket hamburger. Ham pork meatball, biltong swine prosciutto, tip ham short ground spare, tip t-bone meatball sopressata ham ham turkey t-bone jowl drumstick, cow swine ball salami chicken, tri-tip pork turkey tip ribs, cow spare jerky ham biltong. Meatball short ham drumstick bierschinken, ham ball andouillette. Cow porchetta tip sirloin.</div>
            </div>

        </div>
    </main>

    <footer class="bottom mb-md-5 my-lg-5 text-center">
        Leberkas chop belly tip loin.
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
