<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <header>
<!--space for a comment-->
        <div class="container-fluid col text-center my-xl-5">
            <p>Welcome to Bookshelves!</p>
            <a href="/user/login">Login</a>
            <a href="/user/register">Sign Up</a>
            <a href="/book">Browse the shelves</a>
        </div>
    </header>

    <main>
<!--       <table style="height: 120px"></table>-->
        <div class="container-fluid col text-center my-lg-5 d-inline-block  ">
            <h2>What are you interested in?</h2>
            <br><br>
        </div>

<!--HERE LIES THE SEARCH BOX-->
        <div class="input-group mb-3 col-md-6 mx-auto mt-md-5 ">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary " type="button">Button</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
    </main>

    <footer>
        <div class="fixed-bottom mb-md-5 text-center">Footer</div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
