<!DOCTYPE html>
<html id="nolog-shelf">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <!-- SPACES THE TOP EDGE FROM CONTENT  -->
    <div class="spacer"></div>

    <header>
       
          <!-- Button trigger modal -->
           <div class="col">
            
            <button type="button" class="btn btn-success float-right  " data-toggle="modal" data-target="#Modal">Login</button>
</div>
            <!-- Modal -->
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <form class="px-4 py-3" action="/user/login" method="POST">
                            <div class="form-group">
                                <label for="DropdownFormUsername">Username</label>
                                <input type="text" name="username" class="form-control" id="DropdownFormUsername" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="DropdownFormPassword">Password</label>
                                <input type="password" name="password" class="form-control" id="DropdownFormPassword" placeholder="Password">
                            </div>

                            <!-- THIS IS JSUT AN OPTION TO OPT IN TO HAVING A COOKIE (REMEMBER ME) -->
                            <!--
                                 <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">Remember me</label>
                            </div>
-->

                            <!-- THIS IS GOING TO HAVE TO BE CHANGED ONCE THE ROUTES HAVE BEEN SET -->
                            <button class="btn btn-success">submit</button>
                            <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
                        </form>


                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/register">Don't have an account? Sign up</a>

                    </div>
                </div>
            </div>


       
        <!--space for a comment-->
        <div class="row">
        <div class="col"></div>
        <div class=" col-11 ml-4">
            <p id="welcome" class="text-center">Welcome to Bookshelves!</p>
            
            
        </div>
        

         
       
       
      
        </div>
    </header>

    <main>
        <!--       <table style="height: 120px"></table>-->
        <div class="container-fluid col text-center my-lg-5 d-inline-block  ">
            <h2>What are you interested in?</h2>
            <br><br>
        </div>

        <!--HERE LIES THE SEARCH BOX-->
        <div class="input-group mb-3 col-md-6 mx-auto mt-md-5 ">
            <div class="input-group-prepend">
                <button class="btn btn-success " type="button">Search</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div class="container-fluid col d-inline-block text-center">
            <a href="/book">I just want to see what's here.</a>
        </div>

    </main>

    <footer>
        <div class="bottom mb-md-5 text-center">Footer</div>
    </footer>
<!--BOOTSTRAP NEEDS THIS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!--   REQUIRED FOR THE MODAL TO SHOW UP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- BOOTSTRAP'S VERSION OF JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<!--  GOOGLE API INFORMATION  -->
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.2/superagent.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/build.js"></script> -->
</body>

</html>
