
#nolog-shelf {
    background-image: url("/img/search-bg-sm.jpg"); 
    background-size: cover;
    margin: 0 auto;
    
}

#cus-shelf {
    background-image: url("/img/k-bs-sm.JPG"); 
    background-size: cover;
    margin: 0 auto;
    
}

body {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    margin: 0 auto;
    color: whitesmoke;
}

.spacer {
    height: 100px;
    width: 10px;
}

.spacer-register {
    height: 30px;
  
}

.spacer-right {
    width: 60px;
}

.bookshelf {
    overflow-x: scroll;
    
}

#sidebar {
    overflow-y: scroll;
    max-height: 91.6vh;
}

#main-top {
    max-height: 40vh;
/*    min-height: 40vh;*/
   overflow-y: hidden;
}

#main-bottom {
    max-height: 45.1vh;
/*    min-height: 40vh;*/
   overflow-y: scroll;
}


/*CHANGE BUTTON STYLES*/
.btn-success {
    background-color: #996633;
    border-color: whitesmoke;
}

.btn-success:hover {
	background-color: #ce7a27;
    border-color: whitesmoke;
}

.btn-success:active {
	background-color: #ce7a27;
    border-color: whitesmoke;
    
}
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 125, 40, 0.5);
    background-color: #996633;
    border-color: whitesmoke;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 125, 40, 0.5);
    background-color: #996633;
    border-color: whitesmoke;
}

/*MODAL AND FORM COMTROL*/

.form-control:focus {
    border-color: #ce7a27;
    box-shadow: 0 0 0 0.2rem rgba(195, 125, 40, 0.25);
        
}

#Modal {
    color: black;
}

/*

THIS IS FOR THE REGISTRATION PAGE, IT'S NOT NEEDED AT THE MOMENT, HOWEVER, IF THE FORMATING IS EVER BROKEN, TRY UNCOMMENTING THESE.
#register {
    overflow-y: scroll;
    max-height: 90.7vh;
}
*/
