<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Bootstrap -->

</head>

<body>

  <header>
      <h1>Welcome, <%=user.firstName %></h1>
      <form action="/user/logout">
        <button class="btn btn-success">log out</button>
      </form>
      <a href="/user/<%=user._id%>/edit"><button class="btn btn-success">Edit profile</button></a>
      <form action="/" >
        <button class="btn btn-success">delete account</button>
      </form>
        <button id="google-connect" class="btn btn-success">Synch with Google Books!</button>
        <div id="auth-status" style="display: inline; padding-left: 25px"></div>
      
  </header>

  <main class="main">

<div class="input-group mb-3 col-md-6 mx-auto mt-md-5 ">
            <div class="input-group-prepend">
                <button class="btn btn-success " type="button">Button</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
<!--HERE LIES THE CONTENT OF THE SEARCH RESULTS-->
        <div class="container-fluid col text-center mt-4">
            
        </div>

    </main>

    <footer>
        <div class="bottom mb-md-5 text-center">Footer</div>
    </footer>

<!--BOOTSTRAP NEEDS THIS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!--   REQUIRED FOR THE MODAL TO SHOW UP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- BOOTSTRAP'S VERSION OF JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- this is where GoogleAuth happens, and API calls are made -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.2/superagent.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/build.js"></script>
 
  
 
</body>
</html>
