<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->

</head>

<body>

  <header>
      <h1>Welcome, <%=user.firstName %></h1>
      <form action="/user/logout">
        <button>log out</button>
      </form>
      <a href="/user/<%=user._id%>/edit"><button>Edit profile</button></a>
      <form action="/" >
        <button>delete account</button>
      </form>
        <button id="google-connect">Synch with Google Books!</button>
        <div id="auth-status" style="display: inline; padding-left: 25px"></div>
      
  </header>

  <main class="main">




  </main>


  <footer>

  </footer>
  <!-- this is where GoogleAuth happens, and API calls are made -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.2/superagent.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/build.js"></script>
 
  
 
</body>
</html>
