<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Regiser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <!-- SPACES THE TOP EDGE FROM CONTENT  -->
        <div class="spacer-register"></div>

        <!-- HERE LIES THE TOP NAV-->
        <div class="input-group mb-3 col-md-6 mx-auto mb-md-5 ">
            <a class="navbar-brand" href="/">BookShelves</a>
            <div class="input-group-prepend">
                <button class="btn btn-success " type="button">Search</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
    </header>

    <main>
        <!-- HERE LIES THE LEFT SIDE TEXT-->
        <div class="container-fluid">
            <div class="row mx-auto" id="register">
                <div class="col">
                    <h2 class="text-center">Sign up form</h2>
                    <hr>
                    <p class="text-center">Thanks for showing interest in signing up for Bookshelves! We're so excited that you're ready to join our community, below is a simple form that you will have to fill out and then you'll be all set to go! As an added bonus, we support importing your book library from Google books! If you'd like access to that feature then just click the "Sign in with Google" button below and authorize access, after that you'l be ready to go.</p>
                    <form action="/user/register" method="POST">
                        <div class="row my-4">

                            <div class="col">
                                <input type="text" name="firstName" class="form-control" placeholder="First name">
                            </div>

                            <div class="col">
                                <input type="text" name="lastName" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col">
                                <input type="text" name="location" class="form-control" placeholder="Location">
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="text" name="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="col">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 mr-4"></div>
                            <div class="col-4 mx-auto mt-md-2">
                                <button class="btn btn-success">Sign Up!</button>
                            </div>
                            <div class="col-2"></div>
                        </div>

                    </form>
                </div>

                <!-- HERE LIES THE RIGHT SIDE TEXT-->
                <div class="col-4">
                    <h2 class="text-center">Perks of signing up!</h2>
                    <hr>
                    <ul>
                        <li>Perk 1</li>
                        <li>Perk 2</li>
                        <li>Perk 3</li>
                        <li>Perk 4</li>
                        <li>Perk 5</li>
                        <li>Perk 6</li>
                        <li>Perk 7</li>
                        <li>Perk 8</li>
                        <li>Perk 9</li>
                        <li>Perk 10</li>
                    </ul>
                    <hr> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic consequatur placeat dolorum totam earum ab impedit, debitis veritatis velit, deleniti quas voluptatum dolorem optio sapiente. Necessitatibus suscipit culpa atque delectus.</div>
            </div>
        </div>
    </main>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>
