<!DOCTYPE html>
<html id="nolog-shelf">

<head>
    <meta charset="utf-8">
    <title>Regiser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <!-- SPACES THE TOP EDGE FROM CONTENT  -->
        <div class="spacer-register"></div>

        <!-- HERE LIES THE TOP NAV-->
        <div class="input-group mb-3 col-md-6 mx-auto mb-md-5 ">
            <a class="navbar-brand" href="/">BookShelves</a>
            <div class="input-group-prepend">
                <button class="btn btn-success " type="button">Search</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
    </header>

    <main>
        <!-- HERE LIES THE LEFT SIDE TEXT-->
        <div class="container-fluid">
            <div class="row mx-auto" id="register">
                <div class="col">
                    <h2 class="text-center">Sign up form</h2>
                    <hr>
                    <p class="text-center">Thanks for showing interest in signing up for Bookshelves! We're so excited that you're ready to join our community, below is a simple form that you will have to fill out and then you'll be all set to go! As an added bonus, we support importing your book library from Google books! If you'd like access to that feature then just click the "Sign in with Google" button below and authorize access, after that you'l be ready to go.</p>
                    <form action="/user/register" method="POST">
                        <div class="row my-4">

                            <div class="col">
                                <input type="text" name="firstName" class="form-control" placeholder="First name" required>
                            </div>

                            <div class="col">
                                <input type="text" name="lastName" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="text" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="col">
                                <input type="text" name="location" class="form-control" placeholder="Location" required>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="text" name="username" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="col">
                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 mr-4"></div>
                            <div class="col-4 mx-auto mt-md-2">
                                <button class="btn btn-success">Sign Up!</button>
                            </div>
                            <div class="col-2"></div>
                        </div>

                    </form>
                </div>

                <!-- HERE LIES THE RIGHT SIDE TEXT-->
                <div class="col-4">
                    <h2 class="text-center">Perks of signing up!</h2>
                    <hr>
                    <ul>
                        <li>Create bookshelves</li>
                        <li>Discover other peoples' shelves</li>
                        <li>Create a bookclub</li>
                        <li>Add books to the bookclub</li>
                        <li>Add other readers to the bookclub</li>
                        <li>Communicate with other bookclub members</li>
                        <li>Rate books</li>
                        <li>edit/rearrange books in bookshelves</li>
                        
                    </ul>
                    <hr> With so many great books out there it's hard to keep track of them all, and in the digital age it can be difficult to find someone who's interested in the same book as you. Bookshelves provides readers with a quick and efficient way to track what they're currently reading, have read, and would like to read all in one place - much like a book shelf in your house (but better organized...). Plus you can discover new books, created custom shelves based on your interests and connect with other readers through bookclubs. </div>
            </div>
        </div>
    </main>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>
